/* Mobile */
@media (max-width:740px) {
   .img {
    display: flex;
    justify-content: center;
    position: unset;
    padding-top: 50px;
   }
   
   .main {
    display: block;
   }
}



/* Mobile and Tablet */
@media (max-width:1023px) {
    .main {
    }
    .form {
        margin: 0;
        margin-top: 40px;
        max-width: 100%;
        padding: 32px 30px;

    }
}

/* Tablet */
@media (min-width: 740px) and (max-width:1023px) {
    
    
}
/* Laptop */
@media (min-width:1024px) {
   
}